body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.title {
    margin-top: 5px; /* Ajuste o valor conforme necessário */
    margin-bottom: 0; /* Reduz o espaço abaixo do título */
    font-size: 18px; /* Você pode ajustar o tamanho da fonte */
    color: #666;
}

.header-text p {
    color: #666;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #777; /* Cinza */
    font-size: 24px; /* Ajuste o tamanho dos ícones */
    margin-right: 15px; /* Espaço entre os ícones */
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #000; /* Fica preto ao passar o mouse */
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

footer {
    text-align: center;
}

.preview-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.preview-img {
    width: 100px; /* Tamanho ajustado */
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        width: 80px;
        height: 80px;
    }
}
